<!--顶部-->
<header th:fragment="navbar" class="main-header">
    <!-- Logo -->
    <a th:href="@{/index}" class="logo">
        <span class="logo-lg"><b>Valor</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img th:src="@{/images/head.jpg}" class="user-image" alt="User Image">
                        <span class="hidden-xs">您好，</span>
                        <span class="hidden-xs" style="font-weight: bold;font-size: 17px" th:text="${subject.principal}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>