<!--顶部-->
<header th:fragment="navbar" class="main-header">
    <!--左侧logo-->
    <a th:href="@{/index}" class="logo">
        <!--缩放显示的logo-->
        <span class="logo-mini"><b>V</b>or</span>
        <!--正常显示的logo-->
        <span class="logo-lg"><b>Valor</b></span>
    </a>
    <!--右侧导航栏-->
    <nav class="navbar navbar-static-top" role="navigation">
        <!--收缩按钮，收起左侧面板-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!--导航栏-->
        <div class="navbar-custom-menu">
            <!--每一个li元素都一个面板-->
            <ul class="nav navbar-nav">
                <!--用户界面-->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img th:src="@{/images/head.jpg}" class="user-image" alt="User Image">
                        <span class="hidden-xs" th:text="${subject.principal}"></span>
                    </a>
                    <!--点击下拉面板-->
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img th:src="@{/images/head.jpg}" class="img-circle" alt="User Image">
                            <p>
                                [[${subject.principal}]]
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat"><i class="fa fa-user-plus"></i> 个人资料</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" id="loginout-btn" class="btn btn-default btn-flat"><i class="fa fa-sign-out"></i>退出</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--用于切换右侧皮肤面板-->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>