html{
    height: 100%;
}
body.signin{
    height: auto;
    background: url(../images/login-background.jpg) no-repeat center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.login-form{
    margin-top: 20px;
}
.remember{
    margin-top: 10px;
}
#login-btn{
    border-radius: 5px;
}
.login-link{
    margin-top: 10px;
}