<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>valor权限管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/Ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/adminLte/css/AdminLTE.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/adminLte/css/skins/_all-skins.min.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!--顶部导航栏-->
        <div th:replace="fragments/topNavbar :: navbar"></div>
        <!--左侧面板-->
        <div th:replace="fragments/leftSidebar :: sidebar"></div>
        <!--主体内容面板-->
        <div class="content-wrapper"></div>
        <!--切换背景颜色面板-->
        <aside class="control-sidebar control-sidebar-dark">
            <!--切换事件在app.js中-->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs"></ul>
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-home-tab"></div>
            </div>
        </aside>
        <!-- 添加侧边栏的背景。这个 div必须放在 control-sidebar 之后 -->
        <div class="control-sidebar-bg"></div>
    </div>

    <script th:inline="javascript"> var ctx = [[@{/}]]</script>
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/adminLte/js/adminlte.min.js}"></script>
    <script th:src="@{/plugins/layer/layer.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/plugins/adminLte/js/app.js}"></script>
    <script th:src="@{/js/valor.js}"></script>
</body>
</html>