<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>valor权限管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/Ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/adminLte/css/AdminLTE.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/adminLte/css/skins/skin-blue.min.css}">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <div th:replace="fragments/topNavbar :: navbar"></div>
        <div th:replace="fragments/leftSidebar :: sidebar"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Page Header
                    <small>Optional description</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">

                <!--------------------------
                  | Your Page Content Here |
                  -------------------------->

            </section>
            <!-- /.content -->
        </div>
    </div>

    <script th:inline="javascript"> var ctx = [[@{/}]]</script>
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/adminLte/js/adminlte.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>