<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>valor权限管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body class="signin">
    <div class="container">
        <div>

        </div>

    </div>
</body>
</html>